header
  .Wrapper
    .SideBar
      a(href='/users/'+ cookieId + '/products')
        .LogoBox
      .Nav
        i.fa.fa-money
        a(href='/users/'+ cookieId + '/products')  Purchased Products
      .Nav
        i.fa.fa-plus  
        a(href='/users/'+ cookieId + '/products/new')  Add New Product
      .Nav
        i.fa.fa-sort  
        a(href='/users/'+ cookieId + '/')  View By Category
      //- .Nav
      //-   i.fa.fa-search 
      //-   a(href='/amazon')  Amazon
      .Nav
        a.btn.btn-default.logout(href='/logout') Logout  
          i.fa.fa-sign-out
