extends layout

block content
  main
    h4 Login
    if errors
      for error in errors
        p.errors #{error}
    form(action='/login' method='post')
      div.twelve.columns
        label(for='name') Name: 
        input(type='text' name='name' id='name' value=name)
      div.twelve.columns
        label(for='password') Password: 
        input(type='password' name='password' id='password')
      div.twelve.columns
        input(type='submit' value='login')
      div.twelve.columns
      p
      a.button(href='/') Cancel
