extends layout

block content
  main
    h1 Sign-up
    if errors
      for error in errors
        p.errors #{error}
    .container
      form(action='/signup' method='post')
        .form-group
          label.control-label(for='name') Name: 
          input.form-control(type='text' name='name' id='name' autofocus value=name)
        .form-group
          label.control-label(for='password') Password: 
          input.form-control(type='password' name='password' id='password')
        .form-group
          label.control-label(for='confirmation') Confirm Password: 
          input.form-control(type='password' name='confirmation' id='confirmation')
        .form-group
          input.btn.btn-default(type='submit' value='Sign-Up')
          a.btn(href='/') Cancel
