@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body {
  color: #585858;
  /*background: url(/images/test.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

main {
  margin-left: 220px;
}

.center {
  text-align: center;
  margin-bottom: 2%;
}

.fa-times {
  color: #ff6666;
  font-size: 20px;
}

.italic {
  font-style: italic;
  opacity: 0.6;
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.down {
  margin-top: 2%;
  width: 100%;
}

.floatLeft {
  float: left;
}

.inlineBlock {
  display: inline-block;
  width: 47%;
  margin-left: 1%;
  height: 150px;
  overflow: auto;
}

.navbar-default {
  background-color: transparent:
}

.navbar {
  background-color: transparent;
  border: none;
}

.errors {
  color: red;
}

a:visited, a:link {
  text-decoration: none;
}

.help-block {
  font-size: 12px;
  font-style: italic;
  display: inline-block;
}

a.button {
  text-decoration: none;
  color: white;
}

#noborder {
  border: none;
}

#borderwhite {
  border: none;
  background-color: transparent;
  font-size: 17px;
}

#paddingtop {
  margin-top: 3%;
}

.right {
  float: right;
  margin-left: 1em;
  padding-top: 2em;
}

.left {
  float: left;
  font-size: 1.8em;
  font-weight: 600;
  padding-left: 0.5em;
}

.selected {
  background: #A8A8A8;
}

.alegreyaText {
  font-family: 'Alegreya SC', sans-serif;
  font-size: 60px;
}

.josefinText {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.row {
  margin-left: 2%;
}

.pull-right:first-child {
  margin-right: 2%;
  margin-left: 1%;
}

.pull-right {
  border: none;
}

.panel {
  background-color: #fafafa;
  opacity: 0.8;
}

.panel-title h1 {
  text-align: center;
}

td, td a {
  font-size: 19px;
}

th {
  font-size: 25px;
}

label {
  font-size: 20px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
   opacity: 0.6;
   font-style: italic;
}

.fa-amazon {
  color: #FF9900;
}

/* hover */
.wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #000080;
}

.text {
  color: #666;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/*hidden div*/
#hideText {
  display: none;
}
.hoverbox:hover #hideText {
  display:block;
  background-color: #f6f6f6;
  border-radius: 5px;
  text-align: center;
  padding: 5%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

/* category buttons */
.category {
  margin-top: 0.5%;
  margin-right: 1.5%;
  margin-bottom: 0.5%;
  font-size: 15px;
}

/* HEADER*/
/* --- User Select Disable --- */
.LogoBox, .SideBar, .Header{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* --- Header --- */
.LogoBox{
  background-position: center;
  height: 150px; width: 220px;
  background-image: url(/images/logo.png);
  background-size: 145px;
  background-repeat: no-repeat;
  background-color: #456990;
}

/* --- Header --- */
.Header{
	position: absolute;
  top: 0; left: 220px; right: 0;
  height: 45px;
  background-color: #F45B69;
}
.HeadBar{
  float: right;
  padding: 5px;
}
.Top{
  display: inline-block;
  font: 14px sans-serif;
  color: #fff;
}

/* --- SIDEBAR --- */
.SideBar{
  top: 0; bottom: 0; left: 0;
  width: 220px;
  padding-top: 30px;
  background-color: #456990;
  height: 100vh;
}
.Nav {
  text-align: left;
  padding-left: 7%;
  margin-top: 35%;
  color: white;
  font-size: 19px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #456990;
}
.Nav a {
  color: white;
  font-size: 19px;
  font-family: 'Josefin Sans', sans-serif;
}

.logout {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  margin-left: 20%;
  margin-bottom: 20%;
}

/* CAROUSEL */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbuttons {
  margin-right: 0;
  margin-top: -5px;
}

.navbar-wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.black {
  color: #666;
  background-color: #fafafa;
  opacity: 0.95;
  font-weight: bold;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* box animation */
@keyframes after {
  0% {
    width: 0;
    height: 1px;
  }
  75% {
    width: calc(100% + 1px);
    height: 1px;
  }
  100% {
    height: calc(100% + 1px);
    width: calc(100% + 1px);
  }
}

@keyframes before {
  0% {
    width: 0;
    height: 1px;
  }
  75% {
    width: calc(100% + 2px);
    height: 1px;
  }
  100% {
    height: calc(100% + 2px);
    width: calc(100% + 2px);
  }
}
.rect {
  background: #ffffff;
  margin-left: 7px;
  margin-right: 7px;
  width: 32%;
}

.rect:hover:before, .rect:hover:after {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.rect:hover:before {
  -webkit-animation-name: after;
          animation-name: after;
}
.rect:hover:after {
  -webkit-animation-name: before;
          animation-name: before;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.rect:before, .rect:after {
  position: absolute;
  z-index: -1;
  content: '';
  width: 0px;
  height: 0px;
  -webkit-transition: width .6s;
          transition: width .6s;
  background: #6e6e6e;
}
.rect:before {
  bottom: -1px;
  left: 0;
}
.rect:after {
  top: -1px;
  right: -1px;
}

/* loading */
#load {
  display: inline-block;
  position:absolute;
  width:500px;
  height:36px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:red;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		-webkit-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}
