@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body {
  color: #585858;
  background: url(http://s10.postimg.org/ym4ll5h5l/test.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin-top: 2%;
}

.italic {
  font-style: italic;
  opacity: 0.6;
  font-size: 15px;
}

.navbar-default {
  background-color: transparent:
}

.navbar {
  background-color: transparent;
  border: none;
}

header {
  background: #A8A8A8;
}

.headermain {
  padding: 1.5em;
}

.header {
  height: 3em;
}

.header a, .header a:visited, .header a:link {
  color: white;
}

.errors {
  color: red;
}

a:visited, a:link {
  text-decoration: none;
}

a.button {
  text-decoration: none;
  color: white;
}

#noborder {
  border: none;
}

#borderwhite {
  border: none;
  background-color: transparent;
  font-size: 17px;
}

#paddingtop {
  margin-top: 3%;
}

.padbottom {
  margin-bottom: 4%;
}

.right {
  float: right;
  margin-left: 1em;
  padding-top: 2em;
}

.left {
  float: left;
  font-size: 1.8em;
  font-weight: 600;
  padding-left: 0.5em;
}

.selected {
  background: #A8A8A8;
}

.btn.btn-primary {
  color: white;
}

.alegreyaText {
  font-family: 'Alegreya SC', sans-serif;
  font-size: 60px;
}

.josefinText {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.row {
  margin-top: 5%;
}

.pull-right:first-child {
  margin-right: 2%;
  margin-left: 1%;
}

.pull-right {
  border: none;
}

.panel {
  background-color: #fafafa;
  opacity: 0.8;
}

.panel-title h1 {
  text-align: center;
}

td, td a {
  font-size: 19px;
  text-align: center;
}

th {
  font-size: 25px;
  text-align: center;
}

label {
  font-size: 20px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
   opacity: 0.6;
   font-style: italic;
}

/* hover */
.wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #000080;
}

.text {
  color: #666;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/*hidden div*/
#hideText {
  display: none;
}
.hoverbox:hover #hideText {
  display:block;
  background-color: #f6f6f6;
  border-radius: 5px;
  text-align: center;
  padding: 5%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

/* category buttons */
.category {
  margin-top: 0.5%;
  margin-right: 1.5%;
  margin-bottom: 0.5%;
  font-size: 17px;
}
