extends ../layout

block content
  if cookieId
    include ../partials/header
    main
      h4 Categories
      .categories
        for category in categories
          a.category(href=('/categories/' +  category._id)) 
            !{category.name}
  else
    main
      div.container
        div.jumbotron
          h1.centermain Product Tracker
          h4.centersub Stop throwing money away!
          h4.centersub Keep track of your product warranties.
            a(href='/')
          p
            a.btn.btn-primary(href='/login') Login
            a.btn.btn-primary(href='/signup') Sign-Up
