extends ../layout

block content
  include ../partials/header
  main
    .container
      .panel.panel-default
        .panel-title
          h1 Purchased Products
        .panel-body
          table.table.table-hover
            thead
              tr
                th Product Name
                th Guarantee
            tbody
              for product in products
                tr
                  td
                    a(href='/users/'+cookieId+'/products/'+ product._id) !{product.name}
                  td= product.guarantee

      a.btn.btn-primary(href='/users/'+ cookieId + '/products/new') Add New Product
