extends ../layout

block content
  include ../partials/header
  main
    .container
      .panel.panel-default
        .panel-title
          h1 Added Products
        .panel-body
          table.table.table-hover
            thead
              tr
                th Product Name
                th Guarantee
            tbody
              if products
                for product in products
                  tr
                    td
                      a(href='/users/'+cookieId+'/products/'+ product._id) !{product.name}
                    td= product.guarantee
