extends ../layout

block content
  include ../partials/header
  main
    .container
      h1.text-center.alegreyaText Add A New Product
      .errors
      form#addProd.josefinText(action='/users/' + cookieId + '/products/new' method='post')
        .form-group
          label(for='name') Product Name: 
          input#name.form-control(type='text' name='name' placeholder=' Required' required)
        .form-group
          label(for='price') Product Price To The Nearest Dollar:
          input#price.form-control(type='number' name='price' min='1' max='9999' size='4' placeholder=' $' required)
        .form-group
          label(for='store') Purchase At: 
          input#store.form-control(type='text' name='store' placeholder=' Required' required)
        .form-group
          label(for='guarantee') Guarantee: 
          textarea#guarantee.form-control(name='guarantee' placeholder='Required' rows='8' required)
        .form-group
          label(for='receiptURL') Receipt:
          input#receiptURL(type='file' name='receiptURL')
        .form-group
          label(for='category') Category:
          span.italic  Select at least one.
          br
          for category in categories
            a.btn.btn-default.category !{category}  
          input#categories(type='hidden' name='categories')
        .form-group
          input#submit.btn.btn-primary(type='submit' value='Add product')
          a.btn(href='/users/'+ cookieId + '/products') Cancel
